<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand" routerLink="/">
          <a>
            <i class="fas fa-book-open"></i>
            Bookmaniac
          </a>
      </li>
      <li routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <a>
            <i class="fas fa-chart-bar"></i>
            Dashboard
          </a>
      </li>
      <li routerLink="/books" routerLinkActive="active-link">
          <a>
            <i class="fas fa-book"></i>
            My Collection
          </a>
      </li>
  </ul>
</div>