@import 'functions', 'variables', 'mixins';

.page-header {
  padding: 25px 15px;
  display: flex;

  .title {
    font-size: 26px;
    color: theme-color("dark");
    flex: 1;
  }

  .actions {
    flex: 1;
    text-align: right;
  }
}

.page-content {
  padding: 0 10px;
}

.clickable {
  cursor: pointer;
}

button {
  &.btn {
    &.btn-add {
      border-radius: 25px;
      font-size: 20px;
    }
  }
}

.dropdown-menu {
  max-width: 100%;
  overflow: auto;
}

.modal {
  &.swing-top {
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  }

  @media (min-width: 576px) {
    .modal-dialog {
        max-width: 684px;
        margin: 1.75rem auto;
    }
  }
}
