.page-header {
  padding: 25px 15px;
  display: flex;

  .title {
    font-size: 26px;
    color: theme-color("dark");
    flex: 1;
  }

  .actions {
    flex: 1;
    text-align: right;
  }
}

.page-content {
  padding: 0 10px;
}

.clickable {
  cursor: pointer;
}

button {
  &.btn {
    &.btn-primary {
      background-color: theme-color("primary");
      border-color: theme-color("primary");
    }

    &.btn-secondary {
      background-color: theme-color("secondary");
      border-color: theme-color("secondary");
    }
  }
}
