<div class="page-header">Dashboard</div>

<div class="page-content">
  <div class="row">
    <div class="col-lg-6 col-xl-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly Books</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Comparison of books read this month vs previous months
          </h6>
          <p class="card-text">
            There's supposed to be a chart in here. Please pretend.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Collection</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            The current state of my book collection
          </h6>

          <div echarts [options]="collectionChartOptions"></div>
        </div>
      </div>
    </div>
  </div>
</div>
