<div class="page-header">
  Dashboard
</div>

<div class="page-content">

  <div class="cards-row">

    <div class="card flex-2">
      <div class="card-body">
        <h5 class="card-title">Monthly Books</h5>
        <h6 class="card-subtitle mb-2 text-muted">Comparison of books read this month vs previous months</h6>
        <p class="card-text">There's supposed to be a chart in here. Please pretend.</p>
      </div>
    </div>

    <div class="card flex-1">
      <div class="card-body">
        <h5 class="card-title">My Collection</h5>
        <h6 class="card-subtitle mb-2 text-muted">A pie chart with how many books I own vs how many I've read</h6>
        
        <div echarts [options]="collectionChartOptions"></div>
        
      </div>
    </div>

  </div>

</div>