@import "../../../styles.scss";

.card {
  margin: 5px;

  &.flex-1 {
    flex: 1;
  }
  &.flex-2 {
    flex: 2;
  }
}

.circular-chart-area {
  width: 260px;
  height: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 18px;
    color: theme-color("dark");
    text-align: center;
    margin: 8px 0 0 0;
    padding: 0;
  }

  ul {
    width: 100%;
    padding: 0 24px;
    margin: 24px 0 0 0;
    box-sizing: border-box;
    list-style: none;

    li {
      width: 100%;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      color: theme-color("dark");

      &.read {
        color: theme-color("success");
      }

      &.unread {
        color: theme-color("primary");
      }

      &.reading {
        color: theme-color("secondary");
      }
    }
  }

  .circular-chart-container {
    width: 160px;
    height: 160px;
    position: relative;

    .circular-chart {
      width: 100%;
      height: 100%;
      display: absolute;

      .circle {

        &.read {
          stroke: theme-color("success");
        }

        &.reading {
          stroke: theme-color("secondary");
        }
      }

      .circle-bg {
        fill: none;
        stroke: theme-color("primary");
        stroke-width: 3.8;
      }

      .circle {
        fill: none;
        stroke-width: 2.8;
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
      }

      .totalizer {
        fill: theme-color("dark");
        font-size: 0.5em;
        text-anchor: middle;
      }

      .totalizer-subtitle {
        font-size: 0.25em;
        text-anchor: middle;
      }
    }
  }
}