<div class="modal-header">
  <h5 class="modal-title">Add Book to Collection</h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <ng-template #resultTemplate let-r="result" let-t="term">
      {{ getTypeAheadResult(r) }}
    </ng-template>

    <input
      type="text"
      class="form-control"
      [(ngModel)]="selectedBook"
      name="searchTermInput"
      #searchTermInput="ngModel"
      placeholder="Search for Books"
      [ngbTypeahead]="typeAheadSearch"
      [resultTemplate]="resultTemplate"
      [inputFormatter]="typeAheadFormatter"
    />

    <i class="fas fa-spinner fa-spin loading-indicator" *ngIf="loading"></i>

    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="addBook()">
        Add Book
      </button>
    </div>
  </div>
  <small class="form-text text-muted"
    >You can search for a book's title or author name.</small
  >

  <hr />

  <div class="">
    <table class="table" *ngIf="booksToAdd && booksToAdd.length > 0">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksToAdd">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publishingYear }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-light"
    data-dismiss="modal"
    (click)="activeModal.dismiss()"
  >
    Cancel
  </button>
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>
