<div class="page-header">
  <span class="title">
    My Collection
  </span>

  <div class="actions">
    <button type="button" class="btn btn-secondary btn-add" (click)="openAddToCollectionModal()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<div class="page-content">
  <div class="card">
    <div class="card-body">
      <h4 *ngIf="!bookCollection || bookCollection.length <= 0">
        You don't have any books in your collection.
      </h4>
      <table class="table" *ngIf="bookCollection && bookCollection.length > 0">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="d-none d-lg-table-cell">Author</th>
            <th scope="col" class="d-none d-lg-table-cell">Finished On</th>
            <th scope="col">Read</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookCollection">
            <td>{{ book.title }}</td>
            <td class="d-none d-lg-table-cell">{{ book.author }}</td>
            <td class="d-none d-lg-table-cell">{{ book.readDate | date: 'dd/MM/yyyy' }}</td>
            <td>
              <input type="checkbox" [(ngModel)]="book.read" (change)="bookReadChanged(book)">
            </td>
            <td>
              <button class="btn btn-outline-primary" (click)="openEditBookModal(book)">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>