@import '../styles.scss';

#wrapper {
    display: flex;
    height: 100vh;
    background-color: gray("300");

    #page-content-wrapper {
        width: 100%;
        padding-left: $navbar-closed-width;

        @include media-breakpoint-up(lg) {
            padding-left: $navbar-open-width;
        }

        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-top: $navbar-closed-width;
        }
    }
}