@import '../styles.scss';

#wrapper {
    display: flex;
    height: 100vh;

    background-image: linear-gradient(
        to left top,
        #a5cc99,
        #58ac9c,
        #20879b,
        #315e86,
        #44355b
    );

    #page-content-wrapper {
        // background-color: gray("200");
        width: 100%;
    }
}